{% extends 'MovieTrackerBundle:Admin:base.html.twig' %}

{% block page_title %}Add Movie{% endblock page_title %}

{% block page_body %}
<h2>Edit Movie</h2>
{% form_theme movieForm 'bootstrap_3_horizontal_layout.html.twig' %}
{{ form(movieForm) }}
{% endblock page_body %}
